export OUTPUT_FILE=../live/fs/etc/prometheus/webconfig.yml
export TEMPLATE_FILE=./webconfig.yml.tmpl
export VAULT_ADDR=https://vault.home.arpa:8200
export VAULT_TOKEN_FILE=/home/dv/workspace/homelab/config/vault_root_token
