version: '3.7'
services:
  postgres:
    image: localhost/grafana:0.1
    container_name: grafana
    ports:
      - "{{ vault "kv/home/ips/grafana" "ip" }}:3000:3000"
    volumes:
      - ./fs/etc/grafana/:/etc/grafana/:Z,U
      - ./fs/var/lib/grafana/:/var/lib/grafana/:Z,U
